@page
@model MathWars.Pages.TaskPages.CreateTaskModel
@{
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            Title:
            <input asp-for="@Model.Task.Title" class="form-cointrol" />
        </div>
        <div class="mb-3">
            Content:
            <input asp-for="@Model.Task.Content" class="form-cointrol" />
        </div>
        <div class="mb-3">
            Category:
            <input asp-for="@Model.Task.category" class="form-cointrol" />
        </div>
        <div class="mb-3">
            Difficulty level:
            <input asp-for="@Model.Task.difficultyLevel" class="form-cointrol" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
    </div>
</form>