@page
@model DeleteTaskModel
@{
}

<div class="container">
<form method="post">
    <input hidden asp-for="Task.Id" />
    <div class="border p-3 mt-4" style="color: black">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Usuń zadanie</h2>
        </div>
        <div class="mb-3">
            Treśc zadania:
            <input asp-for="@Model.Task.Content" class="form-control" readonly />
        </div>
        @{
            if (!string.IsNullOrEmpty(Model.Task.ImageUrl))
            {
                <div class="mb-3">
                    Zdjęcie:
                    <div>
                        <img src="@Url.Content(Model.Task.ImageUrl)" alt="Optional Image for Task ">
                    </div>
                </div>
            }
        }
        <div class="mb-3">
            Kategoria:
                <div class = "form-control" readonly >
                @foreach (var category in Model.Task.TasksAndCategories.Select(tc => tc.TaskCategory))
                {
                    @category.CategoryName
                    @if (category != Model.Task.TasksAndCategories.Last().TaskCategory)
                    {
                        <span>, </span>
                    }
                }
                </div>
        </div>
        <div class="mb-3">
            Poziom trudnośći:
                <input asp-for="@Model.Task.DifficultyLevel" class="form-control" readonly />
               
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Usuń</button>
        <a asp-page="ViewTasks" class="btn btn-secondary" style="width:150px;">Powrót</a>
    </div>
</form>
</div>