@page
@model MathWars.Pages.TaskPages.SolvingTaskModel
@{
}


    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Solve Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            <strong>Title:</strong>
            <p class="mb-0"> @Model.Task.Title</p>
        </div>
        <div class="mb-3">
            <strong>Content:</strong>
            <p class="mb-0"> @Model.Task.Content</p>
        </div>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                Answer:
                <input asp-for="@Model.Answer.Answer" class="form-cointrol" />
            </div>

            <button type="submit" class="btn btn-primary" style="width:150px;">Check</button>
            <a asp-page="/Index" class="btn btn-secondary" style="width:150px;">Back to home page</a>
        </form>
    </div>
