@page
@model UserAnswersModel
@{
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Your Answers</h2>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>
					Content
				</th>
				<th>
					Difficulty Level
				</th>
				<th>
					Answer
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.answers)
			{
				<tr>
					<td width="25%">@obj.Task.Title</td>
					<td width="35%">@obj.Task.Content</td>
					<td width="20%">@obj.Task.difficultyLevel</td>
					<td width="20%">@obj.Task.Answer</td>
				</tr>
			}	
		</tbody>
	</table>

</div>


