.sidebar-logo {
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 60px; 
    width: 100%;
    transition: all 0.3s ease;
}

.full-logo, .short-logo {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.full-logo {
    opacity: 0;
    visibility: hidden;
}

.sidebar-container:hover .full-logo {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s; 
}

.short-logo {
    opacity: 1;
    visibility: visible;
}

.sidebar-container:hover .short-logo {
    opacity: 0;
    visibility: hidden;
}

.sidebar-container {
    width: 50px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.8s;
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
    border-right: 1px solid #fff;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}

.bg-gradient-primary {
    background-color: #4e73df;
}

.sidebar-container:hover {
    width: 250px;
}

.sidebar-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-navigation li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    text-decoration: none;
    color: #fff;
    border-style: none;
}

.sidebar-navigation li a:hover {
    opacity: 0.8;
    color: #fff;
}

.sidebar-navigation li i {
    font-size: 24px;
    position: absolute;
    left: 12px; 
}

.sidebar-navigation li span {
    display: none;
    white-space: nowrap;
}

.sidebar-container:hover .sidebar-navigation li span {
    display: inline;
}

.sidebar-navigation li span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s ease 0.2s;
}

.sidebar-container:hover .sidebar-navigation li span {
    opacity: 1; 
}

.gradient-navbar {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: #fff;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    gap:30px;
    font-size:20px;
}

.navbar-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-top-content ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border: 3px solid #5980f8;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #5980f8;
}

button:hover {
    opacity:0.7;
}

.hamburger-menu {
    display: none; 
    font-size: 2rem; 
    cursor: pointer;
}
    
@media screen and (max-width: 600px) {
.hamburger-menu {
    display: block; 
}

.navbar-top-content ul, .navbar-top-buttons {
    display: none; 
    }
}

.dropdown-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 50px; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
 }

body {
    background-color: #e6eaf5 !important;
    /*background-image: url("../images/bg.png");*/
    color: var(--white);
    background-position: 0 0;
    background-size: 200px 200px;
    font-family: IBM Plex, sans-serif !important;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid red;
}

html, body {
    height: 100%;
    margin: 0px;;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
}

footer {
    width: 100%;
    background-color: #fff;
    color: black;
    text-align: center;
    padding:20px;
    font-size: 16px;
    box-shadow: 0 -2px 4px 0.5px rgba(0,0,0,0.1);
   
}

a, a:hover {
    color:white;
    text-decoration:none;

}
.navbar-left a:hover{
    opacity: 0.75;
}

footer a {
    color: white; 
    text-decoration: none; 
    padding: 0 10px; 
}

footer a:hover {
    text-decoration: none; 
    opacity:0.75;
}

.login-box {
    width: 400px;
    padding: 0px 25px 0px 25px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 2%;
}

.login-box form div {
    margin-bottom: 10px;
 }

.login-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}
.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="submit"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-box input[type="submit"] {
    background-color: #5980f8;
    color: white;
}

.login-box input[type="submit"]:hover {
    background-color: #5980f8;
    color: white;
    opacity: 0.75;
}

.login-box label {
    display: inline-block;
    margin-right: 5px;
}

.login-box input[type="checkbox"] {
    vertical-align: middle;
}

.login-box a {
    display: block; 
    text-align:center;
    margin-top: 10px;
    color: grey;
    font-size: 12px;
}

.login-box a.fyp {
    text-align: right;
}

.register-box {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 2%;
}

.register-box form div {
    margin-bottom: 10px;
}

.register-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="password"],
.register-box input[type="submit"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.register-box input[type="submit"] {
    background-color: #5980f8;
    color: white;
}

.register-box input[type="submit"]:hover {
     background-color: #5980f8;
     color: white;
     opacity: 0.75;
}

.register-box label {
    display: inline-block;
    margin-right: 5px;
}

.register-box a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: grey;
    font-size: 12px;
}


