/*=============
Slider
=========================*/
.range-slider {
    flex: 1;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

    .sliderticks span {
        display: flex;
        justify-content: center;
        width: 1px;
        height: 10px;
        background: #d3d3d3;
        line-height: 40px;
    }

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
}



.separator-option {
    border-bottom: 1px solid #000;
    pointer-events: none;
}



.index-container {
    color: black;

}
.git {
    padding-left: 20%;
    padding-right: 20%;
}

.heading {
    border-radius: 15px;
    text-align: center;
    margin: 50px auto 20px;
    background-color: #3c63d2;
    background-image: url("../images/bg.png");
}

h1 {
    color: #dee5f7;
    margin: 0;
    padding: 10px 0;
    font-family: fantasy;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.task {
    flex: 3;
    background-color: lightcyan;
    background-image: url("../images/bg.png"), linear-gradient(to right, lightcyan, #E0FFFF);
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
}

.filter {
    background-color: lightcyan;
    background-image: url("../images/bg.png"), linear-gradient(to right, lightcyan, #E0FFFF);
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table td {
    padding: 8px; 
    border-bottom: 1px solid black; 
}

.task-table .Title {
    font-weight: bold; 
}

.task-table .content {
    color: #666; 
}

.pagination-row {
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;  
}

.solve-button a {
    text-decoration: none; 
    color: white; 
    background-color: #007bff; 
    padding: 5px 10px; 
    border-radius: 5px; 
}

.solve-button a:hover {
    background-color: #0056b3; 
}

.difficulty-level {
    font-size: 2em; 
    font-weight: bold; 
}

.category-name {
    font-size: 0.9em; 
}

.task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.motivation {
    text-align: center;
}

.filter-table {
    width: auto; 
    margin: 0 auto;
}

.filter-table-heading {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

.second-content {
    display: flex;
    padding-bottom: 20px;
}

.tutorial {
    background-color: #dee5f7;
    background-image: url("../images/bg.png");
    border-radius: 15px;
    text-align: center;
    width: 50%;
    margin-right: 10px;
}

.tutorial h1 {
    text-align: center;
    font-size: 1.5em; 
    font-weight: bold; 
    color: #333; 
}

.tutorial p {
    text-align: center;
}

.tutorial a{
    color: blue;
}

.fun-fact-box {
    background-color: #dee5f7;
    background-image: url("../images/bg.png");
    border-radius: 15px;
    text-align: center;
    width: 50%;
    padding: 10px;
}

.fun-fact-box h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.fun-fuct {
    font-family: 'Dancing Script', cursive; 
}

.quotes-container {
    background-color: #dee5f7;
    background-image: url("../images/bg.png");
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-style: italic;
    font-size: 3em;
}

.quotes-container p {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.image-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px auto;
    max-width: 80%; 
}

    .image-container img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
    }
