.index-guest-container {
    font-family: Calibri;
    color: black;
    padding: 30px 0px 30px 0px;
}

.header {

    padding:10px 0px 10px 0px;

}

h1 {
    font-weight: 500;
    text-align: center;
    font-size: 6rem;
    line-height: 1.1;
}

.gradient {
    background-image: linear-gradient(to right, #83b5ff, #0d6efd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: #0d6efd;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.box-title {
    font-size: 25px;
    text-align: left;
}

.boxes-headline {
    text-align: left;
}


.button-under-start {
    font-size: 30px;
    display: block; 
    margin: 10px auto; 
    text-align: center;
}


.boxes {
    
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    box-sizing: border-box;
    flex: 1;
    padding: 40px;
    gap: 40px;
    background-image: url("../images/bg.png");
    background-position: 0 0;
    background-size: 200px, auto;
}

#box_1 {
    background-color: lightcyan;
    background-image: url("../images/bg.png"), linear-gradient(to right, lightcyan, #E0FFFF);
    color: var(--white);
    background-position: 0 0;
    background-size: 200px, auto;
   
}

.box-left{
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: left;
    text-rendering: optimizeLegibility;
    flex: 1;
}

.box-right {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.box-right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    min-width: 30vw;
}

.box-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    gap: 30px;
}

@media screen and (max-width: 1024px) {

    .box,.box-container{
        flex-direction: column;
    }

    .button-under-start button {
        width: 100%;
        height: 100%;
        font-size: 24px;
    }
}


.symbols {
    position: absolute;
    top: 100px;
    font-size: 72px;
    opacity: 0.8;
    z-index: -1;
    color: lightgray;
    width: 80%;
    left: 10%;
    min-height: 100vh;
}

#symbol1 {
    position: absolute;
    left: 10%;
}

#symbol2 {
    position: absolute;
    left: 35%;
}

#symbol3 {
    position: absolute;
    left: 60%;
}

#symbol4 {
    position: absolute;
    left: 85%;
}

#symbol5 {
    position: absolute;
    left: 22.5%;
    top: 300px;
}

#symbol6 {
    position: absolute;
    left: 47.5%;
    top: 300px;
}

#symbol7 {
    position: absolute;
    left: 72.5%;
    top: 300px;
}

#symbol8 {
    position: absolute;
    left: 800px;
    top: 600px;
}

#symbol9 {
    position: absolute;
    left: 1200px;
    top: 600px;
}

#symbol10 {
    position: absolute;
    left: 800px;
    top: 300px;
}