h1 {
    font-weight: 500;
    padding-top: 2em;
    text-align: center;
    font-size: 6rem;
    line-height: 1.1;
    font-family: Calibri;
}

.gradient {
    background-image: linear-gradient(to right, #83b5ff, #0d6efd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: #0d6efd;
    padding: 0px;
    margin: 0px;
    
}

h2 {
    font-size: 25px;
    text-align: center;
    
}

.box-title {
    font-size: 25px;
    text-align: left;
  
}

.boxes-headline {
    text-align: left;
}

.button-under-start {
   
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

.button-under-start button {
        padding: 0.5rem 1rem;
        background-color: #5271ff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 15px;
        font-size: 25px;
    }

.boxes {
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
}

.box {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    box-sizing: border-box;
    flex: 1;
    padding: 40px;
    gap: 40px;
    background-image: url("../images/bg.png");
    background-position: 0 0;
    background-size: 200px, auto;
}

#box_1 {
    background-color: lightcyan;
    background-image: url("../images/bg.png"), linear-gradient(to right, lightcyan, #E0FFFF);
    color: var(--white);
    background-position: 0 0;
    background-size: 200px, auto;
   
}


.box-left{
   
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: left;
    text-rendering: optimizeLegibility;
    flex: 1;
}

.box-right {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}

.box-right img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        min-width: 30vw;
        
}

.box-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    gap: 30px;
}

@media screen and (max-width: 1024px) {

    .box,.box-container{
        flex-direction: column;
    }

    
}