/* Logo - ogólne */

.sidebar-logo {
    font-size: 20px;
    background-color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 60px; 
    width: 100%;
    transition: all 0.3s ease;
}


.full-logo, .short-logo {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}


/* Logo w rozrzeszonym menu */
.full-logo {
    opacity: 0;
    visibility: hidden;
}


.sidebar-container:hover .full-logo {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s; 
}


/* Logo w krótkim menu */

.short-logo {
    opacity: 1;
    visibility: visible;
}

.sidebar-container:hover .short-logo {
    opacity: 0;
    visibility: hidden;
}


/* g³ówny css menu bocznego*/
.sidebar-container {
    width: 50px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.8s;
    background-color: #fff;
    border-right: 1px solid #fff;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}



.sidebar-container:hover {
        width: 250px;
        
    }


.sidebar-navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-navigation li a {
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 50px; 
        position: relative;
        text-decoration:none;
  }

.sidebar-navigation li a:hover {
        background-color: #f2f2f2;
    }

.sidebar-navigation li i {
        font-size: 24px;
        position: absolute;
        left: 12px; 
    }

.sidebar-navigation li span {
    display: none;
    white-space: nowrap;
}

.sidebar-container:hover .sidebar-navigation li span {
    display: inline; 
}



.sidebar-navigation li span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s ease 0.2s; 
}

.sidebar-container:hover .sidebar-navigation li span {
    opacity: 1; 
}


body {
    padding-left: 50px;
    background-color:#fff;
}


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
}

.main-container {
    margin: 0;
    padding: 0;
    height:100vh;
}

/* stopka */

footer {
    background-color: #fff;
    color: black; 
    text-align: center;
    padding: 20px 0;
    font-size: 16px; 
}

footer a {
        color: black; 
        text-decoration: none; 
        padding: 0 10px; 
}

footer a:hover {
            text-decoration: underline; 
}