.container {
    padding: 20px;
}

h2.text-primary {
    font-size: 24px;
    text-shadow: 1px 1px 2px grey;
}

.mb-3 strong {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #007bff;
}

.mb-3 p {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#drawingCanvas {
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn {
    margin: 5px;
    font-weight: bold;
}

input.form-control {
    margin-top: 10px;
}

button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}


container {
    text-align: center; 
    margin-top: 20px; 
}

.task-image {
    max-width: 50%; 
    height: auto; 
}

.btn i {
    font-size: 20px; 
}
.bug-report {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    overflow: visible;
}