.container {
    padding: 20px;
    max-width:1140px;
}

h2.text-primary {
    font-size: 24px;
    text-shadow: 1px 1px 2px grey;
}

.mb-3 strong {
    display: block;
    margin: 10px;
    font-size: 18px;
    color: #007bff;
}

.mb-3 p {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
}

#drawingCanvas {
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn {
    margin: 5px;
    font-weight: bold;
}

input.form-control {
    margin-top: 10px;
}

button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.task-image {
    max-width: 50%; 
    height: auto; 
}

.btn i {
    font-size: 20px; 
}
.bug-report {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    overflow: visible;
}

.whiteboard-container {
    display: flex;
    width: 100%;
    max-width: 1140px;
    gap: 10px;
    padding: 10px;
}
section {
    background: white;
    border-radius: 7px;
}

.tools-board {
    width:210px;
    padding: 15px 22px 0;
}

.tools-board .row {
    margin-bottom:20px;
}
.row .options {
    list-style:none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img {
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label) {
    color: #5A6168;
    cursor: pointer;
    padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
    color: #4A98F7;
}
.option #fill-color {
    cursor: pointer;
    height: 14px;
    width: 14px;
}
#fill-color:checked ~ label {
    color: #4A98F7;
}

.option #size-slider {
    width:100%;
    height:5px;
    margin-top: 10px;
}

.colors .options {
    display: flex;
    justify-content: space-between;
}

.colors .option {
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
    background-color: #000;
}

.colors .option:nth-child(3) {
    background-color: #E02020;
}

.colors .option:nth-child(4) {
    background-color: #6DD400;
}

.colors .option:nth-child(5) {
    background-color: #4A98F7;
}

.colors .option.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.buttons button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 10px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons .clear-canvas {
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
}

.clear-canvas:hover {
    color: #fff;
    background: #6C757D;
}

.buttons .save-img {
    background: #4A98F7;
    border: 1px solid #4A98F7;
}

.drawing-board {
    flex: 1;
    overflow: hidden;
}

.drawing-board canvas {
    width: 100%;
    height: 100%;
}

.drawning-board {
    flex: 1;
}