.image-container {
    position: relative;
    width: 100%;
    cursor: pointer; 
}

    .image-container:hover .edit-icon {
        display: block;
    }

.edit-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.error {
    color: red;
}
