################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/MathWars/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/MathWars/bin/Debug/net7.0
/MathWars/obj/Debug/net7.0
/MathWars/obj
