################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/MathWars/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/MathWars/bin/Debug/net7.0
/MathWars/obj/Debug/net7.0
/MathWars/obj
/.vs/MathWars/FileContentIndex
/.gitignore
/.vs/ProjectEvaluation/mathwars.projects.v7.bin
/.vs/ProjectEvaluation/mathwars.metadata.v7.bin
/.vs/MathWars/v17/.suo
/.vs/MathWars/v17/.futdcache.v2
/MathWars/appsettings.json
/.vs/MathWars/DesignTimeBuild/.dtbcache.v2
/.vs/MathWars/config/applicationhost.config
/.vs/MathWars/v17
/MathWars/wwwroot/images/forTasks
/.vs
/MathWars/appsettings.json
