@using MathWars.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MathWars</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">  
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/lib/mathquill-0.10.1/mathquill.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    
    <!-- these scripts must be in <head> -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/mathquill-0.10.1/mathquill.js"></script>
</head>

<body>
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <div class="sidebar-container">

                    <div class="sidebar-logo">
                        <div class="full-logo">MathWars</div>
                        <div class="short-logo">MW</div>
                    </div>


                <ul class="sidebar-navigation">
                    <li><a asp-area="" asp-page="/Index"><i class="bi bi-house"></i><span>Strona Główna</span></a></li>
                    @if (User.IsInRole("taskManager") || User.IsInRole("admin"))
                    {
                        <li><a asp-area="" asp-page="/TaskPages/ViewTasks"><i class="bi bi-journal-text"></i><span>Zadania</span></a></li>
                        <li><a asp-area="" asp-page="/TaskPages/Category/ViewTasksCategory"><i class="bi bi-journal-text"></i><span>Kategoria</span></a></li>
                        <li><a asp-area="" asp-page="/TaskPages/TypeOfAnswer/ViewAnswerType"><i class="bi bi-journal-text"></i><span>Typ odpowiedzi</span></a></li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li><a asp-area="" asp-page="/Accounts/Users/ViewUser"><i class="bi bi-people"></i><span>Użytkownicy</span></a></li>
                        <li><a asp-area="" asp-page="/Accounts/Roles/ViewRole"><i class="bi bi-journal-text"></i><span>Role</span></a></li>
                    }
                    
                    <li><a asp-area="" asp-page="/Accounts/Profile/Leaderboard"><i class="bi bi-bar-chart-line"></i><span>Tabela wyników</span></a></li>
                    <li><a asp-area="" asp-page="/Accounts/Profile/IndexProfile"><i class="bi bi-person-circle"></i><span>@User.Identity.Name</span></a></li>
                    <li><a asp-area="" asp-page="/Reports/ReportBugOnWebsite"><i class="bi bi-bug"></i><span>Zgłoś błąd</span></a></li>
                    <li><a asp-area="" asp-page="/Accounts/Logout"><i class="bi bi-power"></i><span>Wyloguj</span></a></li>
                    
                </ul>
                </div>

            }
            else
            {
                <header>

                        <div class="navbar-top gradient-navbar">

                            MathWars

                            <div class="navbar-top-content">
                            <div class="navbar-left">
                                <ul>
                                         <li> </li>
                                         <li> </li>
                                </ul>
                            </div>
                                <div class="navbar-top-buttons">
                                        <button><a asp-page="/Accounts/Login"> Zaloguj </a></button>
                                        <button><a asp-page="/Accounts/Register"> Rejestracja </a></button>
                                </div>

                            </div>

                            <div class="hamburger-menu" onclick="toggleMenu()">
                                &#9776;
                            </div>

                            <div class="dropdown-menu" id="myDropdown">
                               <a asp-page="/Accounts/Login"> Zaloguj </a>
                            <a asp-page="/Accounts/Register"> Rejestracja </a>
                            </div>

                        </div>
              
                </header>
            }
        }


        <div>
            <main role="main">
          
            

                @RenderBody()
            </main>

            <footer class="gradient-navbar">

                        <div> &copy; 2023 - MathWars -<a asp-area="" asp-page="/Privacy">Privacy</a> </div>

            </footer>

        </div>


            
<script src="~/js/HamburgerMenu.js"></script>
<script src="~/js/Symbols.js"></script>
<script src="~/js/RenderMathContent.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>

</body>
</html>