@using MathWars.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MathWars</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <div class="sidebar-container">

                    <div class="sidebar-logo">
                        <div class="full-logo"> MathWars </div>
                        <div class="short-logo"> MW </div>
                    </div>


                <ul class="sidebar-navigation">
                    <li><a asp-area="" asp-page="/Index"><i class="bi bi-house"></i><span> Home</span></a></li>
                    <li><a asp-area="" asp-page="/TaskPages/ViewTasks"><i class="bi bi-journal-text"></i><span>Tasks</span></a></li>
                    <li><a asp-area="" asp-page="/TaskPages/Category/ViewTasksCategory"><i class="bi bi-journal-text"></i><span>Tasks Category</span></a></li>
                    <li><a asp-area="" asp-page="/Accounts/Users/ViewUser"><i class="bi bi-people"></i><span>Users</span></a></li>
                    <li><a asp-area="" asp-page="/Accounts/Profile/Leaderboard"><i class="bi bi-bar-chart-line"></i><span>Leaderboard</span></a></li>
                    <li><a asp-area="" asp-page="/Accounts/Profile/UserAnswers"><i class="bi bi-person-circle"></i><span>@User.Identity.Name</span></a></li>
                    <li><a asp-area="" asp-page="/Accounts/Logout"><i class="bi bi-power"></i><span>Logout</span></a></li>
                </ul>
                </div>

            }
            else
            {
                <header>
                        <div class="navbar-top">

                            <a class="navbar-brand" asp-area="" asp-page="/Index">MathWars</a>

                            <div class="navbar-top-content">
                                <ul>
                                         <li> <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a> </li>
                                         <li> <a class="nav-link text-dark" asp-area="" asp-page="/TaskPages/ViewTasks">TASKS</a> </li>
                                </ul>

                                <div class="navbar-top-buttons">
                                        <button><a asp-page="/Accounts/Login"> Login </a></button>
                                        <button><a asp-page="/Accounts/Register"> Register </a></button>
                                </div>

                            </div>

                            <div class="hamburger-menu" onclick="toggleMenu()">
                                &#9776;
                            </div>

                            <div class="dropdown-menu" id="myDropdown">
                               <a asp-page="/Accounts/Login"> Login </a>
                            <a asp-page="/Accounts/Register"> Register </a>
                            </div>

                        </div>
                </header>
            }
        }

        <div>

            <main role="main">
                @RenderBody()
            </main>

            <footer>

                        <div> &copy; 2023 - MathWars -<a asp-area="" asp-page="/Privacy">Privacy</a> </div>

            </footer>

        </div>
            
<script src="~/js/HamburgerMenu.js"></script>
<script src="~/js/Drawing.js"></script>
</body>
</html>