@page
@model MathWars.Pages.Accounts.ConfirmEmailModel
@{
}
<div class="container">
    <div class="container">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                @if (Model.IsResendMail)
                {
                    <h1>Wysłaliśmy maila ponownie</h1>
                    <h4>Teraz wejdź na swoją pocztę i odbierz maila od nas</h4>
                }
                else
                {
                    <h1>Udało ci się pomyślnie zarejestrować</h1>
                    <h4>Teraz wejdź na swoją pocztę i odbierz maila od nas</h4>
                }
            </div>
            <form method="post">
                <input asp-for="Uid" hidden />
                <div class="mb-3">
                    Nasz mail nie dotarł lub usunąłeś go przez przypadek ?
                </div>
                <button type="submit" class="btn btn-primary" style="width:150px;">Wyślij ponownie</button>
            </form>
        </div>
    </div>
</div>
