@page
@model MathWars.Pages.Accounts.ForgotPasswordModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-mid-4">
            @if(Model?.IsEmailSent == true)
            {
                <div>
                    Wysłaliśmy ci maila :)
                </div>
            }
            else
            {
                <p>Jeżeli zapomniałeś hasła to wprowadź e-mail, na który się zarejestowałeś</p>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Wyślij" class="btn btn-primary"/>
                    </div>
                </form>
            }
        </div>
    </div>

</div>