@page
@model MathWars.Pages.Accounts.LoginModel
@{


<div class="login-box">
    <form method ="post">
        <h1>Zaloguj</h1>
        <div>
            <label asp-for="loginModel.UserName">Nazwa użytkownika:</label>
            <input type="text" asp-for="loginModel.UserName" placeholder="Nazwa użytkownika" >
            <span asp-validation-for="loginModel.UserName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="loginModel.Password">Hasło:</label>
            <input type="password" asp-for="loginModel.Password" placeholder="Hasło">
            <span asp-validation-for="loginModel.Password" class="text-danger"></span>
        </div>

        <div>

            <input type="checkbox" asp-for="loginModel.RememberMe">
            <label asp-for="loginModel.RememberMe">Zapamiętaj mnie?</label>
            
        </div>

        <div>
                <a class="fyp" asp-page="ForgotPassword">Zapomniałeś hasło?</a>
        </div>

        <div>
            <input type="submit" value="Zaloguj">
        </div>
        <div>
            <a asp-page="Register">Nie masz jeszcze konta? Przejdź do rejestracji!</a>
        </div>
    </form>
</div>

}