@page
@model MathWars.Pages.Accounts.LoginModel
@{


<div class="login-box">
    <form method ="post">
        
        
        <h1>Login</h1>
        <div>
            <label asp-for="loginModel.UserName">User Name:</label>
            <input type="text" asp-for="loginModel.UserName" placeholder="User Name" >
        </div>
        <div>
            <label asp-for="loginModel.Password">Password:</label>
            <input type="password" asp-for="loginModel.Password" placeholder="Password">
        </div>

        <div>

            <input type="checkbox" asp-for="loginModel.RememberMe">
            <label asp-for="loginModel.RememberMe">Remember me?</label>
            
        </div>

        <div>
            <a class="fyp" href="/forgot-password">Forgot your password?</a>
        </div>

        <div>
            <input type="submit" value="Login">
        </div>
        <div>
            <a href="/sign-up">Sign up if you don't have an account yet.</a>
        </div>
    </form>
</div>

}