@page
@model MathWars.Pages.Accounts.RegisterModel
@{
}



<div class="register-box">
    <div>
        <div>
            <h1>Rejestracja</h1>

            <form method="post">
                <div>
                    <label>Nazwa użytkownika</label>
                    <input type="text" name="registerModel.UserName" />
                <span asp-validation-for="registerModel.UserName" class="text-danger"></span>
                </div>
                <div>
                    <label>Adres Email</label>
                    <input type="text" name="registerModel.Email" />
                <span asp-validation-for="registerModel.Email" class="text-danger"></span>
                </div>
                <div>
                    <label>Hasło</label>
                    <input type="password" name="registerModel.Password" />
                    <span asp-validation-for="registerModel.Password" class="text-danger"></span>
                </div>
                <div>
                    <label>Powtórz hasło</label>
                    <input type="password" name="registerModel.ConfirmPassword" />
                    <span asp-validation-for="registerModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Rejestruj">
                </div>
            </form>
        </div>
    </div>
</div>


