@page
@model MathWars.Pages.Accounts.RegisterModel
@{
}



<div class="register-box">
    <div>
        <div>
            <h1>Register</h1>

            <form method="post">
                <div>
                    <label>User name</label>
                    <input type="text" name="registerModel.UserName" />
                    <span></span> <!-- Replace with server-side validation message for UserName -->
                </div>
                <div>
                    <label>Email Address</label>
                    <input type="text" name="registerModel.Email" />
                    <span></span> <!-- Replace with server-side validation message for Email -->
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="registerModel.Password" />
                    <span></span> <!-- Replace with server-side validation message for Password -->
                </div>
                <div>
                    <label>Confirm password</label>
                    <input type="password" name="registerModel.ConfirmPassword" />
                    <span></span> <!-- Replace with server-side validation message for ConfirmPassword -->
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>


