@page
@model MathWars.Pages.Accounts.RegisterModel
@{
}



<div class="register-box">
    <div>
        <div>
            <h1>Rejestracja</h1>
            <form method="post">
                <div>
                    <label>Nazwa użytkownika</label>
                    <input type="text" asp-for="registerModel.UserName" placeholder="Nazwa użytkownika" />
                <span asp-validation-for="registerModel.UserName" class="text-danger"></span>
                </div>
                <div>
                    <label>Adres Email</label>
                    <input type="email" asp-for="registerModel.Email" placeholder="Adres Email" />
                <span asp-validation-for="registerModel.Email" class="text-danger"></span>
                </div>
                <div>
                    <label>Hasło</label>
                    <input type="password" asp-for="registerModel.Password" placeholder="Hasło" />
                    <span asp-validation-for="registerModel.Password" class="text-danger"></span>
                </div>
                <div>
                    <label>Powtórz hasło</label>
                    <input type="password" asp-for="registerModel.ConfirmPassword" placeholder="Powtórz hasło" />
                    <span asp-validation-for="registerModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Rejestruj">
                </div>
            </form>
        </div>
    </div>
</div>


