@page
@using MathWars.Pages.TaskPages;
@model CreateRoleModel
@{
}


<div class="container">
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Stwórz rolę</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            Nazwa roli:
            <input asp-for="@Model.role.Name" class="form-control" />
                <span asp-validation-for="@Model.role.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Stwórz</button>
        <a asp-page="ViewRole" class="btn btn-secondary" style="width:150px;">Powrót</a>
    </div>
</form>
</div>
