@page
@using MathWars.Pages.TaskPages;
@model DeleteRoleModel
@{
}

<div class="container">
<form method="post">
        <input hidden asp-for="role.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Role</h2>
            <hr />
        </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            Role Name:
                <input asp-for="@Model.role.Name" class="form-control" readonly />
                <span asp-validation-for="@Model.role.Name" disabled class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-page="ViewRole" class="btn btn-secondary" style="width:150px;">Back to list</a>
    </div>
</form>
</div>