@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Task List</h2>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>
					Difficulty Level
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Tasks)
			{
				<tr>
					<td width="50%">@obj.Title</td>
					<td width="30%">@obj.difficultyLevel</td>
				</tr>
			}	
		</tbody>
	</table>

</div>
