@page
@using MathWars.Pages;
@model IndexGuestModel
@{
    ViewData["Title"] = "Home page";
}


<link rel="stylesheet" href="~/css/IndexGuest.css" asp-append-version="true" />

	<h1>
		<p class="gradient">Achieve mastery </p> through challenge
	</h1>

	<h2>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit,
		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</h2>
	
	<div class="button-under-start">

	<button><a asp-page="/Accounts/Register"> Get started </a></button>

	</div>

<div class="boxes">

	<div class="b1">

		<div class="b1-left">

			<b>Sharpen your coding skills</b>
			<br />


			Challenge yourself on small coding exercises called "kata". Each kata is crafted by the community to help you strengthen different coding techniques.
			Master your current language of choice, or quickly pick up any of the 55+ programming languages supported.

		</div>

		<div class="b1-right">

			<img src="~/images/math.jpg" />

		</div>
	</div>

	<div class="b2-b3-container">

		<div class="b2">

			<div class="b2-text">

				<b>Get instant feedback</b>
				<br />
				Solve kata with your coding style right in the browser and use test cases (TDD) to check it as you progress.
				Retrain with new, creative, and optimized approaches. Find all of the bugs in your programming practice.

			</div>

			<div class="b2-image">

				<img src="~/images/calc.png" />

			</div>

		</div>

		<div class="b3">

			<div class="b3-text">

				<b>Earn ranks and honor</b>
				<br />

				Kata code challenges are ranked from beginner to expert level.
				As you complete higher-ranked kata, you level up your profile and push your software development skills to your highest potential.

			</div>

			<div class="b3-image">
				<img src="~/images/Ontask.png" />
			</div>
		</div>

	</div>
</div>








