@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
	<form method="post">
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary pl-3">Filtr task</h2>
			</div>
			<div class="mb-3">
				Category:
				<input class="form-cointrol" name="category" value=@Model.category />
			</div>
			<div class="mb-3">
				Difficulty level:
				<input type="number" class="form-cointrol" name="difficultyLevel" value=@Model.difficultyLevel />
			</div>
			<button type="submit" class="btn btn-primary" style="width:150px;">Filtr</button>
		</div>
	</form>
<div>


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Task</h2>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>
					Content
				</th>
				<th>
					Difficulty Level
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.tasks)
			{
				<tr>
					<td width="40%">@obj.Title</td>
					<td width="40%">@obj.Content</td>
					<td width="20%">@obj.difficultyLevel</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="TaskPages/SolvingTask" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
								<i class="bi bi-pencil-square"></i> Solve
							</a>
						</div>
					</td>
				</tr>
			}	
		</tbody>
	</table>


</div>


