@page
@model DeleteTaskCategoryModel
@{
}

<div class="container">
<form method="post">
        <input hidden asp-for="category.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Task Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            Name:
                <input asp-for="@Model.category.CategoryName" class="form-control" />
                <span asp-validation-for="@Model.category.CategoryName" disabled class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-page="ViewTasks" class="btn btn-secondary" style="width:150px;">Back to list</a>
    </div>
</form>
</div>